<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>IoT device</th>
        <th>Hash code</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of histories">
        <td>{{ history.device }}</td>
        <td>{{ history.hashCode }}</td>
        <td>{{ history.temp }}</td>
        <td>{{ history.humid }}</td>
        <td>{{ history.time }}</td>
      </tr>
    </tbody>
    <!-- <tbody>
      <tr *ngFor="let item of weather">
        <td>{{ item.device }}</td>
        <td>{{ item.hashCode }}</td>
        <td>{{ item.temp }}</td>
        <td>{{ item.humid }}</td>
        <td>{{ item.time }}</td>
      </tr>
    </tbody> -->
  </table>
</div>

