<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>IoT device</th>
        <th>Hash code</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cars">
        <td>{{item.Key}}</td>
        <td>{{item.Record.color}}</td>
        <td>{{item.Record.make}}</td>
        <td>{{item.Record.model}}</td>
        <td>{{item.Record.owner}}</td>
      </tr>
    </tbody>
  </table>
</div>

